@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border-color: none !important; */
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
